<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hubba.mapper.MenuMapper">

<select id="selectBusinessMenus" resultType="com.hubba.vo.MenuVO">select * from menu where business_idx=#{idx};</select>
<insert id="editMenu">insert into temp_menu (business_idx,menu_name,menu_price) values (#{business_idx},#{menu_name},#{menu_price});</insert>
<select id="selectTempMenus" resultType="com.hubba.vo.MenuVO">select t.idx, t.business_idx,t.menu_name,t.menu_price,b.place_name from temp_menu t INNER JOIN business b on b.idx=t.business_idx;</select>
<update id="updateMenu">INSERT into menu (business_idx,menu_name,menu_price) values (#{business_idx},#{menu_name},#{menu_price}) on duplicate key update business_idx=#{business_idx},menu_name=#{menu_name}, menu_price=#{menu_price};</update>
<delete id="deleteFromtheTemp">delete from temp_menu where idx=#{idx};</delete>
</mapper>