@charset "UTF-8";
@font-face { 
   font-family: 'MapoPeacefull';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
body{
   font-family: 'MapoPeacefull';
}   
   
/* 지도 */
#map_container {
	height:700px;
	background-color:yellow;
}

#map_row {
	border:2px solid red;
	height:700px;
	width:80%;
	margin:auto;
}

/* 검색내용 */
#search_container {
	height:100%;
}
#search_row {
	width:80%;
	height:100%;
	margin:auto;
	border:3px solid pink;
}
#search_number {
	height:300px;
	border:2px solid blue;
}
#search_contents {
	height:300px;
	border:2px solid pink;
	padding:20px;
}
#search_photo {
	height:300px;
	border:2px solid gray;
	padding:20px;
}