@charset "UTF-8";

/* 메인 사진, 로그인, 검색 */
#first_container {
	padding:0 !important;
	margin-bottom:100px;
}
#img_wrap {
	position:relative;

}
#img_col {
	padding:0px;

}
#main_img {
	max-width:100%;
	height:auto;
	filter: brightness(50%);
/*
	opacity:0.7;
	filter:alpha(opacity=40); 
	filter:brightness(80%);
*/
}

#login_wrap {
	position:absolute;
	top:3%;
	left:90%;
}

#login_img {
	transform: scale(1);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transition: all 0.3s ease-in-out;  	
}
#login_img:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);	
	cursor:pointer;
}


#logo_wrap {
	position:absolute;
	top:20%;
	left:43%;
}
#logo_wrap:hover {
	cursor:pointer !important;
}
#logo {
	font-size:80px;
	color:white;
}

#search_wrap {
	position:absolute;
	top:40%;
/*	left:33%;
	margin:30px;*/
	left:52%;
	transform:translate(-50%, 0);
	width:740px;
}
#search_left, #search_right {
	width:40%;
	height:50px;
	font-size:20px;
	padding-left:10px;
	border-bottom:5px solid white;
	border-top:transparent;
	border-right:transparent;
	border-left:transparent;		
	background:transparent;
	margin:5px;
}
#search_left:focus, #search_right:focus {
	outline:none;
}
#search_left::placeholder, #search_right::placeholder {
	color:white;
	font-weight:lighter;
}
#search_button {
	height:40px;
	margin-left:10px;
	transform: scale(1);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transition: all 0.3s ease-in-out;  	
}
#search_button:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);		
	cursor:pointer;
}
