@charset "UTF-8";
@font-face { 
   font-family: 'MapoPeacefull';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
body{
   font-family: 'MapoPeacefull';
}   
   
#title {
   margin:80px 0px 60px 0px;
   color:rgb(74,188,184);
   font-weight:bold;
   font-size:3rem;
}
#logo_col {
   text-align:center;
}
#logo_col:hover {
   cursor:pointer;
}

#login_row {
   height:60%;
}
#login_form {
   position:inline-block;
   margin-top:100px;
}
hr {
   width:80%;
   margin-bottom:0;
}
.login_input {
   width: 85%;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding-left: 15px;
}
.login_input:hover {
   border:1px solid #e6e6e6;
   background-color: #e6e6e6;
   cursor:pointer;
}

#find_id:hover {
   text-decoration:underline;
   color:blue;
   cursor:pointer;
}
#login_button {
   width:85%;
   height:50px;
   border:1px solid #e6e6e6;
   border-radius:5px;
   background-color:#e6e6e6;
   margin:10px;
}
#login_button:hover {
   background-color: rgb(74,188,184);
   border:1px solid rgb(74,188,184);
   color:white;
   cursor:pointer;
}
#vertical_linetop {
   border-left: 1px solid black;
   height: 300px;
   margin-top:80px;
}
#login_rightform {
   margin-left:60px;
}
.logo_icon {
   margin:5px;
   width:40px;
   height:40px;
}
#googlelogo_wrap {
   width:90%;
   height:52px;
   border:1px solid black;
   position:inline-block;
   margin-top:130px;
   border-radius:5px;
   position:relative;
}
#kakaologo_wrap, #naverlogo_wrap {
   width:90%;
   height:52px;
   border:1px solid black;
   margin-top:20px;
   border-radius:5px;
   position:relative;
}

#google_ptag, #kakao_ptag, #naver_ptag {
   position:absolute;
   top:25%;
   left:30%;
}
#googlelogo_wrap:hover, #kakaologo_wrap:hover, #naverlogo_wrap:hover {
   border:#e6e6e6;
   background-color:#e6e6e6;
   cursor:pointer;
}
#bottom_col {
   text-align:center;
   margin-top:25px;
}
#register {
   color:blue;
}
#register:hover {
   text-decoration:underline;
   cursor:pointer;
}

#loginform {
   text-align:center;
}

