@charset "UTF-8";
@font-face { 
   font-family: 'MapoPeacefull';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

#title {
	color:rgb(74,188,184);
	font-size:3rem;
}
#logo_col {
	text-align:center;
}
#logo_col:hover {
	cursor:pointer;
}
#login_container {
	height:100%;
	margin:0px;
	padding-top:100px;	
	margin-bottom:-5%;
}
.form-group input {
	height:50px;
}
button {
	margin-top:30px;
	height:50px;
}
#form_wrap {
	margin-top:7%;
}