@charset "UTF-8";
@font-face { 
   font-family: 'MapoPeacefull';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

#title {
   margin:80px 0px 60px 0px;
   color:rgb(74,188,184);
   font-weight:bold;
   font-size:3rem;
}

#logo_col {
   text-align:center;
}
#logo_col:hover {
   cursor:pointer;
}

#login_container {
   height:100%;
   margin:0px;
}
#idpw_wrap {
   margin-top:90px;
   text-align:center;
}
#my_id {
   margin-top:50px;
}
.btn-group {
   margin-top:30px;
}
.line {
   width:50%;
   margin-top:4rem;
}