@charset "UTF-8";
@font-face { 
   font-family: 'MapoPeacefull';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

#title {
	font-size:3rem;
	color:rgb(74,188,184);
}
#logo_col {
	text-align:center;
}
#logo_col:hover {
	cursor:pointer;
}
#login_container {
	height:718px;
	margin:0px;
	padding-top:100px;	
	margin-bottom:-10%;	
}
#id, #pw {
	height:50px;
	margin:15px 0px 15px 0px;
}

#update_col {
	text-align:center;
	margin-top:80px;
}
.btn {
	height:50px;
}
.form-group {
	margin-top:50px;
}
